<%- include("partials/header.ejs", { title: "Lecturer"}) %>
</head>
<body>
    <a href="/lecturer/add">Add Lecturer</a>
    <table border="1">
        <tr>
            <th>Nama</th>
            <th>Birth Date</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
        <tbody>
            <%data.forEach(lecturer => {%>
                <tr>
                    <td><%=lecturer.name%></td>
                    <td><%=date(lecturer.birthDate)%></td>
                    <td><%=lecturer.email%></td>
                    <td><%=lecturer.gender%></td>
                    <td>
                        <a href="/lecturer/edit/<%= lecturer.id%>">Edit</a>
                        <a href="/lecturer/delete/<%= lecturer.id%>">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include("partials/footer.ejs")%></br>