<%- include("partials/header.ejs", { title: "Edit Lecturer"}) %>
</head>
<body>
    <h1>Edit Lecturer</h1>
    <form method="POST" action="/lecturer/edit/<%= data.id%>"> 
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="<%= data.name%>"><br><br>
        <label for="birthDate">Birth Date:</label><br>
        <input type="date" id="birthDate" name="birthDate" value="<%= date(data.birthDate)%>"><br><br>
        <label for="email">E-mail:</label><br>
        <input type="text" id="email" name="email" value="<%= data.email%>"><br><br>
        <label>Gender</label><br/>
        <input type="radio" name="gender" value="Male" <%= data.gender === 'Male' ? 'checked' : '' %>>
        <label>Male</label>
        <input type="radio" name="gender" value="Female" <%= data.gender === 'Female' ? 'checked' : '' %>>
        <label>Female</label><br><br>
        <button type="submit">Save</button>
        <a href="/lecturer">Cancel</a>
    </form> 
    <% errors.forEach(el => { %>
        <p style="color: red;"><%= el %></p>
    <% }) %>
    <%- include("partials/footer.ejs")%></br>