<%- include("partials/header.ejs", { title: "Edit Mata Kuliah"}) %>
</head>
<body>
    <h1>Edit Mata Kuliah</h1>
    <form method="POST" action="/Mata_Kuliah/edit/<%=data.id%>"> 
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="<%=data.name%>"><br><br>
        <label for="hari">Hari:</label><br>
        <input type="text" id="hari" name="hari" value="<%=data.hari%>"><br><br>
        <label for="jam">Jam:</label><br>
        <input type="text" id="jam" name="jam" value="<%=data.jam%>"><br><br>
        <label for="PengajarID">Pengajar:</label><br>
        <select name="PengajarID" id="PengajarID">
            <option selected disabled>--please select--</option>
            <% data.forEach((dosen)=> { %>
                <option value="<%=dosen.id%>" <%= dosen.id===data.PengajarID ? "selected" : "" %>><%=dosen.name%></option>
           <% })%>
        </select><br><br>
        <button type="submit">Save</button>
        <a href="/Mata_Kuliah">Cancel</a>
    </form> 
    <% errors.forEach(el => { %>
        <p style="color: red;"><%= el %></p>
    <% }) %>
    <%- include("partials/footer.ejs")%></br>